.dashBut:hover{
    background-color: rgba(0, 159, 227, 0.10);
    border-left: 2px solid #607ADD;
}

.dashBut{
    background-color: transparent;
    border: none;
    color: #001A4C;
}

.userAddress{
    color: var(--text-secondary, rgba(0, 26, 76, 0.60));
    font-feature-settings: 'clig' off, 'liga' off;

    /* Caption Light */
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.userName{
    color: var(--text-primary, #001A4C);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Caption Heavy */
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
}